@model Client
@{
    ViewData["Title"] = "Client";

}
<style type="text/css">
    td {
        padding-right: 20px;
    }

    .boldTd {
        font-weight: bold;
    }
</style>



<h2>Detail</h2>
<div>
    <h4>Client</h4>
    <table style="margin:20px;">
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(c => c.Id)</td>
            <td> @Html.DisplayFor(c => c.Id) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(c => c.Name)</td>
            <td> @Html.DisplayFor(c => c.Name) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(c => c.Address)</td>
            <td> @Html.DisplayFor(c => c.Address) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(c => c.Birthday)</td>
            <td> @Html.DisplayFor(c => c.Birthday) </td>
        </tr>
        <tr>
            <td class="boldTd"> @Html.DisplayNameFor(c => c.Phone)</td>
            <td> @Html.DisplayFor(c => c.Phone) </td>
        </tr>

    </table>


</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-primary">Back</a>
</div>
